#Cognito Folder Envs
COGNITO_CLIENT_ID=
COGNITO_POOL_ID=

# SQS Folder Envs
ORDER_DLQ_EMAIL=

# DynamoDB Folder Envs
PRODUCTS_TABLE=

#S3 Folder Envs
UPLOAD_FILE_TABLE=
FILE_UPLOAD_BUCKET=

#Liver039 Folder Envs
RESEND_API_KEY=re_key
